.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: calc(var(--z-index, 1000) + 5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    will-change: opacity, backdrop-filter;
}


.backdrop.isActive {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.blur {
    background-color: rgba(var(--color-black-rgb, 0, 0, 0), 0.4);
    -webkit-backdrop-filter: blur(var(--blur, 8px)) saturate(160%);
    backdrop-filter: blur(var(--blur, 8px)) saturate(160%);
}

.transparent {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}