# dependencies
node_modules/

# build outputs
dist/
.next/
storybook-static/

# test / coverage
coverage/

# package artifacts
*.tgz

# env
.env*
!.env.example

# macOS
.DS_Store

# IDE
../../CT/Problem/.idea
