:where(*, *::before, *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(:focus-visible) {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* ------------------------------
 * 💡 기본 설정
 * ------------------------------ */
body {
  color: var(--color-text);
  font-size: 1.6rem;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: transparent;

  transition: color 0.3s ease;
  visibility: visible;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 0;

  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-gray) 20%,
    rgba(var(--color-secondary-gray-rgb), 0.5) 50%,
    var(--color-brown) 70%,
    var(--color-blue) 100%
  );
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

